<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  {{-- @entryPointStyles('app')
  @entryPointScripts('app') --}}
  {{--
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined"
    rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.14.0/dist/quasar.rtl.prod.css" rel="stylesheet" type="text/css">
  --}}
</head>

<body>

  <main>
    <div
      style="display: flex;flex-direction: column; width: 100%;min-height:100vh;justify-content: center;align-items: center;">
      <h1 class="title text-h6">Public Pages are under maintenance</h1>
      <a href="{{route('admin.login')}}" style="font-size: larger">Checkout Admin Dashboard</a>
    </div>
    {{-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.14.0/dist/quasar.umd.prod.js"></script> --}}
    <script>
      // const {ref} =Vue
      // const app = Vue.createApp({
      //   setup() {
      //     const title="I Am view"
      //     const count = ref(0)

      //     const incrementCount=()=>{ count.value+=1}

      //     return {
      //       title,
      //       count,
      //       incrementCount
      //     }

      //   }
      // })

      // app.use(Quasar,
      // {
      //       config: {
      //       /*
      //       brand: {
      //       // primary: '#e46262',
      //       // ... or all other brand colors
      //       },
      //       notify: {...}, // default set of options for Notify Quasar plugin
      //       loading: {...}, // default set of options for Loading Quasar plugin
      //       loadingBar: { ... }, // settings for LoadingBar Quasar plugin
      //       // ..and many more (check Installation card on each Quasar component/directive/plugin)
      //       */
      //       }
      //       }
            // )
      // app.mount('#app')
    </script>
  </main>
</body>

</html>
